 
<section class="advantages">
    <h2>Четыре столпа <nobr>«Hells Bells Tattoo»</nobr></h2>
    <ul class="advantages__list">
        <li class="advantages__item">
            <div class="col-5">
                <h5>Индивидуальный подход</h5>
            </div>
            <div class="col-7">
                <p>
                Мы не набиваем эскизы, скачанные с интернета, потому что ваша индивидуальность для нас стоит на первом месте!
                Татуировка — это ваш внутренний мир. А тату-матер является вашим личным помощником в самовыражении. Ни у кого такой татуировки, как у вас не может быть!
                Именно поэтому, каждый раз, мы разрабатываем новые уникальные эскизы.
                Не стесняйтесь, несите нам свои идеи и мы воплотим в татуировке то, что вы хотите сказать!
                </p> 
            </div>
        </li>
    </ul>
</section>