.advantages {
    top: 250px;
    margin-bottom: 150px;
    width: $container-lg;
    margin: auto;
    position: relative;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
}

.advantages__item {
    display: flex;
    position: relative;
    align-content: flex-start;
    margin-top: 0;
    margin-bottom: 100px;

    p {
        margin-top: 0;
    }

    a {
        font-weight: bold;
        color: $text-black;
    }
}

.advantages__item-title {
    margin-top: 0;
}
