<section class="advantages">
    <h2>Четыре столпа <nobr>«Hells Bells Tattoo»</nobr></h2>
    <section class="advantages__list">
        <div class="advantages__item col-5">
            <h5 class="advantages__item-title">Индивидуальный подход</h5>
        </div>
        <div class="advantages__item col-7">
            <p>
                Мы не набиваем эскизы, скачанные с интернета, потому что ваша индивидуальность для нас стоит на первом месте! <br>
                Татуировка — это ваш внутренний мир. А тату-матер является вашим личным помощником в самовыражении. Ни у кого такой татуировки, как у вас не может быть! <br>
                Именно поэтому, каждый раз, мы разрабатываем новые уникальные эскизы. <br>
                Не стесняйтесь, несите нам свои идеи и мы воплотим в татуировке то, что вы хотите сказать!
            </p> 
        </div>
        <div class="advantages__item col-5">
            <h5 class="advantages__item-title">Адекватные цены</h5>
        </div>
        <div class="advantages__item col-7">
            <p>
                В нашей студии стоимость* работ оценивается по ее размерам и сложности.
    Чёрный квадрат 15×15 см или высокодетализированная татуировка, вписанная в эти же размеры, имеют разную цену. Также сложность выполнения татуировки зависит от места на теле.
    Консультация у любого мастера — бесплатно. <a href="">Запишись сейчас</a>. <br>
    *минимальная цена татуировки от 4000 ₽
            </p>
        </div>
        <div class="advantages__item col-5">
            <h5 class="advantages__item-title">Студия в центре города</h5>
        </div>
        <div class="advantages__item col-7">
            <p>
                Мы находимся в историческом центре Санкт-Петербурга, в 5 минутах ходьбы от метро Достоевская на наб. реки Фонтанки, д. 54. <br>
    Наши двери открыты для вас КРУГЛОСУТОЧНО
            </p>
        </div>
        <div class="advantages__item col-5">
            <h5 class="advantages__item-title">Безопасность превыше всего</h5>
        </div>
        <div class="advantages__item col-7">
            <p>
                В своей работе мы используем только качественные гипоаллергенные материалы, одноразовые расходники и фирменное оборудование: от&nbsp;пигментов до&nbsp;модульных игл. <br>
Наша студия, одна из немногих в городе, имеет <a href="">медицинскую лицензию</a>.
            </p>
        </div>
    </section>
</section>
