.quotes-main-page {
    margin-bottom: 150px;
}

.quotes-main-page__text {
    display: inline;
    margin-bottom: 150px;
    width: $container-lg;
    margin: auto;
    margin-top: 150px;
    }

h4::before {
    content: "«";
    position: absolute;
    font-family: Oswald;
    font-weight: 700;
    font-size: 288px;
    color: $text-black;
    top: 50;
    left: -156px;
    top: -100px;
}

h4 {
    position: relative;
    // margin-left: 300px;
    font-weight: 300; 
    width: $container-lg;
    margin: auto;
    display: block;
    left: 156px;
    top: 175px;
}
