   <!-- 1-й вариант блока "Выбери свой стиль" -->
   <section class="choose-your-style">
    <h2>Выбери свой стиль</h2>
    <ul class="choose-your-style__list">
        <li class="choose-your-style__item">
            <a href="">
                <img src="img/choose-your-style_1.jpg" alt="">
                <h3>Графика</h3>
            </a>
        </li>
        <li class="choose-your-style__item">
            <a href="">
                <img src="img/promo_img_1.jpg" alt="">
                <h3>Ориентал (Япония)</h3>
            </a>
        </li>
        <li class="choose-your-style__item">
            <a href="">
                <img src="img/choose-your-style_2.jpg" alt="">
                <h3>Биомеханика</h3>
            </a>
        </li>
        <li class="choose-your-style__item">
            <a href="">
                <img src="img/choose-your-style_1.jpg" alt="">
                <h3>Дотворк</h3>
            </a>
        </li>
        <li class="choose-your-style__item">
            <a href="">
                <img src="img/choose-your-style_1.jpg" alt="">
                <h3>Blackwork</h3>
            </a>
        </li>
        <li class="choose-your-style__item">
            <a href="">
                <img src="img/choose-your-style_1.jpg" alt="">
                <h3>Минимализм</h3>
            </a>
        </li>
    </ul>
</section>