
.choose-your-style {
    margin-bottom: 150px;
}

.choose-your-style__title {
    font-weight: 500;
    font-size: 96px;
    margin: 0;
}

.choose-your-style__list {
    display: flex;
    margin-left: -10;
    margin-right: -10;
    list-style: none;
    padding-left: 0;
}

.choose-your-style__item {
    width: 16.6666%;
    padding-right: 10px;
    padding-left: 10px;

    a {
        display: block;
        position: relative;
        font-size: 0;
        padding-top: 200%;
        transition: linear 250ms;

        @media screen and (min-width: 900px) {
            padding-top: 268%;
        }

        @media screen and (min-width: 1920px) {
            padding-top: 200%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: linear 250ms;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgba($black, 0.5);
            transition: linear 250ms;
        }

        h3 {
            font-family: Oswald;
            font-weight: 500;
            position: absolute;
            top: 20%;
            left: 10px;
            right: 10px;
            z-index: 3;
            text-align: center;
            color: $white;
            font-size: 24px;
            transition: linear 250ms;

            // &::before {
            //     content: '';
            //     position: absolute;
            //     left: 0;
            //     top: 50%;
            //     right: 0;
            //     width: 100%;
            //     padding-top: 100%;
            //     transform: translateY(-50%);
            //     z-index: -1;
            //     background: #000;
            //     background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, transparent 70%);
            //     transition: linear 250ms;
            //     opacity: 0;
            // }
        }

        &:hover {
            img{
                filter: grayscale(0);
            }

            &::before {
                background-color: rgba($black, 0.2);
            }
            & h3 {
                text-shadow: 0 0 20px rgba($black, 0.5);
            }
            // & h3::before {
            //     opacity: 1;
            // }
        }
    }
}

