<section class="sign-up">
    <div class="sign-up__title">
        Записаться на консультацию
    </div>
    <p>
        Оставьте свой номер телефона и наш администратор свяжется с&nbsp;вами в течение 15 минут
    </p>
    <form class="sign-up__form" action="">
        <input type="text" placeholder="Имя"><br>
        <input type="text" placeholder="+7 ( ___ ) ___ - __ - __ ">
        <p class="p-small">
            Нажимая кнопку «Перезвоните мне», я даю согласие на обработку персональных данных и соглашаюсь с политикой конфиденциальности
        </p>
        <a class="sign-up__button" href="">Перезвоните мне!</a>
    </form>
</section>
