.sign-up {
    width: 520px;
    text-align: center;
    // top: 250px;
    margin-top: 450px;
    padding-top: 167px;
    margin-bottom: 150px;
    margin: auto;
    // position: relative;
}

.sign-up__title {
    font-family: Alegreya Sans;
    font-size: 35px;
    line-height: 1.2em;
    color: $text-black;
    font-weight: 500;
}

.sign-up__form {
    width: 520px;
    height: 36px;
    // position: relative;
    text-align: center;
    top: 15px;
    margin-bottom: 150px;
    margin: 15px;
}

.p-small {
    font-size: 14px;
    margin-bottom: 36px;
}

input {
    font-size: 16px;
    color: $input-text;
    font-family: Alegreya Sans;
    padding: 9px 10px;
}

input[type=text] {
    width: 520px;
    height: 36px;
    margin-bottom: 36px;
}

.sign-up__button {
    background-color: $button-black; 
    color: $white;
    font-size: 30px;
    margin-top: 36px;
    padding: 10px 141px;
    text-decoration: none;
 }

 a:hover {
    background: $gray;
}


