.consultations {
    background: $button-black;
    border-radius: 35px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    position: fixed;
    right: 0;
    top: 50px;
    width: 44px;
    color: #ffffff;
    z-index: 3;
    font-family: Oswald, sans-serif;
    font-size: 24px;
    margin-right: 4px;

}

.consultations a {
    line-height: 44px;
    text-decoration: none;
    position: fixed;
}
.consultations span {
    writing-mode: vertical-lr;
    transform: scale(-1);
}
