<section class="works-gallery">
    <h2>Искусство наших <nobr>тату-мастеров</nobr></h2>
    <div class="works-gallery__list">
        <a href="">
            <img class="works-gallery__item" src="img/works-gallery__01.jpg" alt="">
        </a>
        <a href="">
            <img class="works-gallery__item" src="img/works-gallery__02.jpg" alt="">
        </a>  
        <a href="">
            <img class="works-gallery__item" src="img/works-gallery__03.jpg" alt="">
        </a>
        <a href="">
            <img class="works-gallery__item" src="img/works-gallery__04.jpg" alt="">
        </a>
        <a href="">
            <img class="works-gallery__item" src="img/works-gallery__05.jpg" alt="">
        </a>                                     
    </div>
</section>