<section class="works-gallery">
    <h2>Искусство наших <nobr>тату-мастеров</nobr></h2>
    <ul class="works-gallery__list">
        <li class="works-gallery__column">
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__01.jpg" alt="">
            </a>
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__02.jpg" alt="">
            </a>  
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__03.jpg" alt="">
            </a>
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__04.jpg" alt="">
            </a>
        </li>
        <li class="works-gallery__column">    
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__05.jpg" alt="">
            </a>
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__06.jpg" alt="">
            </a>
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__07.jpg" alt="">
            </a>
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__08.jpg" alt="">
            </a>                                           
        </li>
        <li class="works-gallery__column">    
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__09.jpg" alt="">
            </a>
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__10.jpg" alt="">
            </a>
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__11.jpg" alt="">
            </a>
            <a class="works-gallery__item" href="">
                <img  src="img/works-gallery__12.jpg" alt="">
            </a>                                           
        </li>
    </ul>
    <div class="works-gallery__link">
        <a  href="">Перейти в портфолио</a>
    </div>
</section>