@font-face {
  font-family: 'Alegreya Sans';
  src: local('Alegreya Sans Medium'),
  local('AlegreyaSans-Medium'),
  url('../fonts/AlegreyaSans-Medium.woff2') format('woff2'),
  url('../fonts/AlegreyaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald Light'), local('Oswald-Light'),
  url('../fonts/Oswald-Light.woff2') format('woff2'),
  url('../fonts/Oswald-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'),
  url('../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
  url('../fonts/AlegreyaSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald Regular'), local('Oswald-Regular'),
  url('../fonts/Oswald-Regular.woff2') format('woff2'),
  url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'),
  url('../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
  url('../fonts/AlegreyaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald Bold'), local('Oswald-Bold'),
  url('../fonts/Oswald-Bold.woff2') format('woff2'),
  url('../fonts/Oswald-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald Medium'), local('Oswald-Medium'),
  url('../fonts/Oswald-Medium.woff2') format('woff2'),
  url('../fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

