html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family:'Alegreya Sans', sans-serif ;
    margin: 0;
    font-size: 16px;
}

.container {
    width: 1060px;
    margin: 0 auto;
 }

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    /* content   */
    margin-bottom: 20px;
} 

.box {
  background-color: pink;
  height: 100px;
}

h2 {
    font-family: Oswald;
    font-weight: 500;
    // left: 10px;
    // right: 10px;
    text-align: left;
    color: $text-black;
    font-size: 96px;
    margin-left: -10;
    // padding-left: 10px;
    line-height: 0.9em;
    margin-bottom: 150px;
    margin-top: 150px;
}

h4 {
    font-family: Oswald; 
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 300;
    color: $text-black;
}

h5 {
    font-family: Alegreya Sans;
    font-weight: bold;
    text-align: left;
    color: $text-black;
    font-size: 50px;
    line-height: 0.9em;
}

p {
    font-family: Alegreya Sans;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: normal;
    color: $text-black;
}

.col-5 {
    width: 40.566%; 
}

.col-7 {
    width: 57.358%;
}
