$main-color:          #7dcbcf;
$warning-color:       #fdc05d;

$gray-light:          #f2f2f2;
$gray:                #808080;
$gray-dark:           #231f20;
$text-black:          #13181B;
$white:               #FFFFFF;
$black:               #000000;
$button-black:        #2d2d2d;

$text-color:          $gray-dark;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           100%;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;

$container-xs:           100%;
$container-sm:           680px;
$container-md:           960px;
$container-lg:           1060px;

